iml-dl/weights/

# Jupyter Notebook temporary files
.ipynb_checkpoints/
*.ipynb_checkpoints/
*__pycache__*

# Jupyter Notebook logs
*.log
**/wandb*
*/**/__pycache__
*/**/**/__pycache__
**/data/*
!**/data/cardiac_attributes_loader.py

